import React from 'react';
import PropTypes from 'prop-types';

import './{{name}}.scss';

const {{name}} = (props) => {
  return (
    <div className="container">
      {props.componentName}
    </div>
  );
};

{{name}}.propTypes = {
  componentName: PropTypes.string
};

{{name}}.defaultProps = {
  componentName: '{{name}}'
};

export default {{name}};
